.home_wrapper {
  background-color: #fff;
  padding: 40px 32px;
  max-width: 1276px;
  color: #00354b;
  margin: 0 auto;
}

.block__header {
  height: 58px;
  background-color: #c4d1d6;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 20px 32px;
  border-radius: 5px 5px 0 0;
}

.block__content {
  background-color: #f1f3f3;
  padding: 30px 20px;
}

.direction_arrows {
  margin-left: 4px;
  margin-right: 4px;
  height: 26px;
}
.country_box {
  display: flex;
  margin-bottom: 10px;
}
.direction_box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.direction_box input {
  display: inline-block;
}
.input {
  height: 30px;
  border: 1px solid #c4d1d6;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  opacity: 1;
  color: #00354b;
}

.input__dir {
  padding-left: 35px;
  background-image: url("./images/point.svg");
  background-repeat: no-repeat;
  background-position: 1% 50%;
}

.input__dir::placeholder {
  color: #00354b;
}

.cargo_data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 32px;
}

.cargo_box {
  position: relative;
}

.cargo_wrap {
  display: flex;
  justify-content: space-between;
  gap: 11px;
  width: 100%;
}

.cargo_box_weight::after {
  content: "T";
  width: 60px;
  height: 30px;
  background-color: #c4d1d6;
  border-radius: 0 5px 5px 0;
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fafcfc;
  text-align: center;
  padding-top: 7px;
  right: 0;
}

.cargo_box_volume::after {
  content: url("./images/м.png");
  width: 60px;
  height: 30px;
  background-color: #c4d1d6;
  border-radius: 0 5px 5px 0;
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fafcfc;
  text-align: center;
  padding-top: 7px;
  right: 0;
}
.input__cargo {
  width: 274px;
}

.input__cargo::placeholder {
  color: #c4d1d6;
}

.date_wrap {
  display: flex;
  justify-content: space-between;
  padding-right: 18px;
  gap: 11px;
  width: 50%;
}

.input__calendar {
  width: 273px;
  background-image: url("./images/calendar.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
.add__wrap {
  width: 50%;
  display: flex;
  gap: 21px;
}

.add__info_wrap {
  display: flex;
  flex-direction: column;
}
.add__info1,
.add__info2 {
  display: flex;
  justify-content: space-between;
  gap: 21px;
  margin-bottom: 10px;
}

.add__info_box {
  padding-top: 19px;
  padding-bottom: 20px;
  border-top: 1px solid #c4d1d6;
  border-bottom: 1px solid #c4d1d6;
  display: flex;
  gap: 30px;
}

.add__description {
  background: #c4d1d6;
  padding: 10px;
  border-radius: 5px;
  height: fit-content;
}

.description__header {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.dimensions_box::after {
  content: "м";
  width: 60px;
  height: 30px;
  background-color: #909090;
  border-radius: 0 5px 5px 0;
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fafcfc;
  text-align: center;
  padding-top: 5px;
  right: 0;
}

.distance_box::after {
  content: "км";
  width: 60px;
  height: 30px;
  background-color: #909090;
  border-radius: 0 5px 5px 0;
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fafcfc;
  text-align: center;
  padding-top: 5px;
  right: 0;
}

.input__dimensions,
.input__distance {
  border: 1px solid #909090;
}

.input__dimensions {
  width: 253px;
}
.input__distance {
  width: 124px;
}

.distance__content {
  display: flex;
  gap: 5px;
}

.btn__box {
  padding-top: 36px;
}

.btn {
  width: 111px;
  height: 51px;
  background-color: #008cc9;
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #00354b;
}

.input__region {
  margin-top: 10px;
}

@media (max-width: 1440px) {
  .input__dir {
    width: 480px;
  }
  .cargo_wrap {
    flex-direction: column;
    gap: 10px;
    width: auto;
  }
}

@media (max-width: 1380px) {
  .input__dir {
    width: 440px;
  }
  .cargo_wrap {
    flex-direction: column;
    gap: 10px;
    width: 280px;
  }
}

@media (max-width: 1260px) {
  .add__info1,
  .add__info2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  .add__wrap {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .add__info_box {
    padding-top: 19px;
    border-top: 1px solid #c4d1d6;
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
}

@media (max-width: 1240px) {
  .cargo_data {
    justify-content: flex-start;
    gap: 10px;
  }
  .cargo_wrap {
    flex-direction: column;
    gap: 10px;
    width: auto;
  }

  .input__dir {
    width: 360px;
  }
  .cargo_wrap {
    flex-direction: column;
    gap: 10px;
    width: 280px;
  }
}

@media (max-width: 1000px) {
  .input__dir {
    width: 273px;
  }
  .cargo_wrap {
    flex-direction: column;
    gap: 10px;
    width: 273px;
  }
  .input__cargo {
    width: 273px;
  }
  .input::placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 768px) {
  .home_wrapper {
    padding: 20px 10px;
  }

  .block__header {
    height: 30px;
    padding: 6px 20px;
  }
  .block__content {
    padding: 24px 20px;
  }
  .input {
    max-width: 241px;
  }
  .direction_box {
    width: 260px;
  }
  .country_box {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  .cargo_data {
    justify-content: space-between;
  }
  .cargo_box input {
    margin-bottom: 0px;
  }

  .date_wrap {
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
    gap: 11px;
    width: 100%;
  }
  .add__info_box {
    border-top: none;

    padding-bottom: 15px;
  }

  .dimensions_box {
    margin-bottom: 5px;
  }
  .btn__box {
    padding-top: 16px;
  }
  .add__description {
    background: #c4d1d6;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
    width: 260px;
  }
  .cargo_box_weight::after {
    right: 32px;
  }
  .distance__content {
    flex-direction: column;
  }
}

@media (max-width: 690px) {
  .add__info_box {
    padding-top: 19px;

    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}

@media (max-width: 670px) {
  .country_box {
    display: flex;
    flex-direction: column;
  }
  .direction_arrows {
    transform: rotate(90deg);
    margin-top: 0px;
    margin-bottom: 4px;
    height: 24px;
  }
  .cargo_data {
    justify-content: space-between;
    flex-direction: column;
  }
  .cargo_box {
    width: 260px;
  }

  .date_wrap {
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
    gap: 11px;
    width: 100%;
    flex-direction: column;
  }

  .dimensions__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 480px) {
  .home_wrapper {
    padding: 20px 10px;
  }

  .block__header {
    height: 20px;
    font-size: 10px;
    line-height: 12px;
    padding: 4px 17px;
  }
  .block__content {
    padding: 13px 10px;
  }

  .input {
    font-size: 10px;
    line-height: 12px;
    border-radius: 5px;
    margin-bottom: 4px;
    padding-left: 10px;
  }

  .input::placeholder {
    font-size: 10px;
    line-height: 12px;
  }
  .input__dir {
    padding-left: 28px;
    background-image: url("./images/point.svg");
    background-repeat: no-repeat;
    background-position: 1% 50%;
  }
  .distance_box {
    width: auto;
  }
  .input__dimensions {
    width: 244px;
  }
  .input__distance {
    width: 117px;
  }

  .description__header {
    font-size: 10px;
    line-height: 12px;
  }

  .dimensions_box::after {
    width: 53px;
    font-size: 10px;
    line-height: 12px;
    padding-top: 8px;
    right: 17px;
  }

  .distance_box::after {
    width: 53px;
    font-size: 10px;
    line-height: 12px;
    padding-top: 8px;
  }

  .cargo_box_weight::after {
    width: 53px;

    font-size: 10px;
    line-height: 12px;

    padding-top: 10px;
  }

  .add__info1,
  .add__info2 {
    gap: 5px;
    margin-bottom: 5px;
  }

  .cargo_box_volume::after {
    content: url("./images/mm.png");
    width: 53px;
    height: 30px;
    background-color: #c4d1d6;
    padding-top: 4px;
    right: 0;
  }

  .add__description {
    padding: 8px;
  }

  .add__info_box {
    border-bottom: none;

    padding-bottom: 20px;
  }

  .btn__box {
    padding-top: 0px;
  }

  .btn {
    width: 58px;
    height: 26px;
    background-color: #008cc9;
    font-size: 10px;
    line-height: 12px;
  }
  .distance__content {
    flex-direction: row;
  }
  .input {
    max-width: 260px;
  }
  .cargo_box_weight::after {
    right: 0;
  }
}

.error_message {
  color: #d80027;
  margin-bottom: 6px;
  font-size: 12px;
}
