.darkBG {
  background-color: #00354b;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  height: 90%;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c4d1d6;
}

.modal {
  width: 500px;
  background: #fafcfc;
  color: #00354b;
  z-index: 10;
  border: 13px solid #c4d1d6;
}

.modalHeader {
  overflow: hidden;
  padding: 20px;
}

.heading {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.modalContent {
  font-size: 16px;
  line-height: 18px;
  color: #2c3e50;
}

.select_box {
  background-color: #00354b;
  display: flex;
  padding: 15px 13px;
  justify-content: space-between;
  position: relative;
}

.select_menu {
  background-image: url("./images/arrow.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  cursor: pointer;
  border-radius: 5px;
  width: 216px;
  height: 46px;
  background-color: #fafcfc;
  padding: 12px 7px;
  color: #00354b;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.select_items_left,
.select_items_right {
  width: 238px;
  background-color: #00354b;
  position: absolute;
  top: 98%;
  z-index: 10;
  cursor: pointer;
  border-radius: 5px;
}
.select_items_right {
  right: 0;
}

.select_items_left {
  left: 0;
}
.select_item {
  margin: 0 auto;
  width: 216px;
  height: 47px;
  padding: 12px 7px;
  color: #00354b;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: none;
  background-color: #fafcfc;
  border-radius: 5px;
  margin-bottom: 7px;
}

.select_box select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.select_box select option {
  color: #00354b;
  border-radius: 5px;
  cursor: pointer;
  height: 47px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

@media (max-width: 670px) {
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    height: 70%;
    overflow: auto;
  }
  .modal {
    width: 300px;
    border: 6px solid #c4d1d6;
  }

  .modalHeader {
    overflow: hidden;
    padding: 14px 10px;
  }

  .heading {
    font-size: 14px;
    line-height: 16px;
  }

  .modalContent {
    font-size: 10px;
    line-height: 12px;
  }

  .select_box {
    padding: 9px 7px;
    justify-content: space-between;
    position: relative;
  }

  .select_menu {
    background-image: url("./images/arrow.png");
    background-repeat: no-repeat;
    background-position: 93% 50%;
    cursor: pointer;
    border-radius: 5px;
    width: 130px;
    height: 28px;
    background-color: #fafcfc;
    padding: 9px 4px;
    color: #00354b;
    border: none;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    background-size: 6px;
  }

  .select_items_left,
  .select_items_right {
    width: 146px;
    background-color: #00354b;
    position: absolute;
    top: 95%;
    z-index: 10;
    cursor: pointer;
    border-radius: 5px;
  }

  .select_item {
    margin: 0 auto;
    width: 130px;
    height: 28px;
    padding: 9px 4px;
    color: #00354b;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    border: none;
    background-color: #fafcfc;
    border-radius: 5px;
    margin-bottom: 7px;
  }
}
