.header {
  padding: 21px 64px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  background-color: var(--white);
  background-image: url(./images/header-line.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__inner {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 28px;
}

.burger__btn {
  display: block;
  z-index: 20;
  width: 32px;
  height: 22px;
  position: relative;
  cursor: pointer;
  margin-right: 8px;
}
.burger__btn span {
  display: block;
  width: 32px;
  height: 2px;
  background-color: #008cc9;
}
.burger__icon::after,
.burger__icon::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: #008cc9;
  left: 0;
}
.burger__icon::after {
  bottom: 0;
}
.burger__icon::before {
  top: 47%;
}

.header__functional_items {
  display: flex;
  position: relative;
}

.header__functional_item {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}

.header__functional_item:hover {
  background-color: #c4d1d6;
  border-radius: 5px;
}

.add_items {
  width: 167px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #fff;
  padding: 10px 10px 0;
  position: absolute;
  right: 0;
  top: 100%;
  border-radius: 5px;
  row-gap: 10px;
  color: #000;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.add_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.add_item_img {
  width: 50px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4d1d6;
  margin-right: 5px;
  border-radius: 5px;
}

.header__search_input {
  background: #ffffff;
  border: 1px solid #c4d1d6;
  border-radius: 5px 0px 0px 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #00354b;
  padding-left: 10px;
  position: absolute;
  z-index: 30;
  left: -112%;
  height: 100%;
}

.header__search_input::placeholder {
  color: #c4d1d6;
}

.header__search_input + div {
  margin-left: 0px;
  background-color: #c4d1d6;
  border-radius: 0px 5px 5px 0px;
}

.header__functional_item {
  position: relative;
}

.header__new_message {
  width: 18px;
  height: 18px;
  background-color: #ff4b56;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00354b;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
}

.header__search_block {
  display: flex;
}

@media (max-width: 1460px) {
  .header {
    padding: 21px 20px 45px;
  }
}

@media (max-width: 1190px) {
  .header {
    flex-wrap: wrap;
    row-gap: 12px;
  }
}

@media (max-width: 768px) {
  .burger__btn {
    display: block;
  }
  .header {
    position: relative;
    padding: 20px 20px 20px;
  }
}

@media (max-width: 620px) {
  .header {
    flex-wrap: nowrap;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 10px 10px 20px;
  }

  .burger__btn {
    width: 18px;
    height: 14px;
    margin-right: 4px;
  }
  .burger__btn span {
    width: 18px;
    height: 1px;
  }
  .burger__icon::after,
  .burger__icon::before {
    width: 18px;
    height: 1px;
  }
  .burger__icon::before {
    top: 49%;
  }
  .logo {
    margin-right: 20px;
    max-width: 74px;
  }

  .header__functional_item {
    width: 24px;
    height: 24px;
  }
  .header__functional_item img {
    width: 16px;
    height: 16px;
  }

  .header__new_message {
    width: 12px;
    height: 12px;
    font-size: 8px;
  }
  .header__search_input {
    width: 150px;
    left: -134%;
  }
}
