.clients_wrapper {
  background-color: #002332;
  padding: 80px 0px 150px;
}

.title {
  padding-left: 150px;
}

.clients__slider {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

.prev,
.next {
  width: 73px;
  height: 51px;
  background-color: #009ea5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -86px;
}

.prev {
  right: 240px;
}

.next {
  right: 136px;
}

.prev:hover,
.next:hover {
  background-color: #006c73;
}

@media (max-width: 900px) {
  .clients_wrapper {
    padding: 40px 0px 40px;
  }
  .clients__slider {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .prev,
  .next {
    width: 49px;
    height: 35px;
    top: -53px;
  }
  .prev {
    right: 80px;
  }
  .next {
    right: 20px;
  }
  .title {
    padding-left: 0;
  }
}

@media (max-width: 400px) {
  .clients_wrapper {
    padding: 20px 0px 20px;
  }
  .clients__slider {
    margin-top: 12px;
  }
  .prev,
  .next {
    width: 26px;
    height: 18px;
    top: -31px;
  }
  .prev {
    right: 38px;
  }
  .next {
    right: 4px;
  }
}
