.home_wrapper {
  background-color: #fff;
  padding: 40px 48px;
  max-width: 1320px;
  margin: 0 auto;
}

.title {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #00354b;
  margin-bottom: 22px;
}
.header__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #00354b;
}

.home_items {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.notice__card {
  width: 100%;
  background-color: #00354b;
  padding: 20px 55px 20px 20px;
  border-radius: 5px;
}

.notice__title {
  display: flex;
  align-items: center;
  gap: 6px;
}

.notice__text {
  margin-top: 10px;
  margin-bottom: 20px;
}

.notice__items {
  display: flex;
  justify-content: space-between;
  gap: 76px;
}

.notice__item {
  display: flex;
  align-items: center;
  gap: 50px;
}

.btn {
  width: 265px;
  height: 51px;
  padding: 16px 0px;
  border-radius: 5px;
  background-color: var(--btn-blue);
  color: var(--white);
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  transition: all 0.3s ease;
  text-align: center;
}

.btn:hover,
.btn:active {
  background-color: var(--btn-hover);
}

.services,
.info__item {
  color: #00354b;
  background-color: #f1f3f3;
  padding: 20px;
}

.services__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services__btn {
  display: flex;
  gap: 24px;
}

.services__title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  gap: 10px;
}

.btn_serv {
  width: 204px;
}

.btn_serv2 {
  width: 144px;
}
.services__balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services__text {
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 30px;
  margin-bottom: 6px;
}

.services__sum {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: right;
}

.btn_serv3 {
  background-color: #00354b;
}

.info {
  display: flex;
  gap: 32px;
}
.info__item {
  width: 50%;
}
.count {
  width: 50%;
}

.info_count {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.count__title {
  margin-bottom: 6px;
  max-width: 133px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.count__number {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
}

.info__icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.info__icon:hover {
  background-color: #00354b;
  border-radius: 5px;
}
.info__icon:hover .imfo__img path {
  fill: #fafcfc;
}

.payment__items {
  display: flex;
  gap: 26px;
}

.payment__item {
  max-width: 344px;
  height: 344px;
  background-color: #c4d1d6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 46px;
}

.block__items {
  display: none;
  width: 100%;
}

.content {
  padding: 45px 50px;
}

@media (max-width: 1280px) {
  .notice__items {
    display: flex;
    flex-direction: column;

    gap: 10px;
  }
}

@media (max-width: 1000px) {
  .payment__items {
    display: flex;
    gap: 26px;
  }

  .payment__item {
    max-width: 344px;
    height: 280px;
    background-color: #c4d1d6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 46px;
  }

  .block__items {
    width: 100%;
  }

  .content {
    padding: 45px 50px;
  }
}

@media (max-width: 768px) {
  .home_wrapper {
    background-color: #fff;
    padding: 20px 30px;
  }

  .title {
    font-size: 24px;
    line-height: 28px;
  }

  .payment__items {
    display: flex;
    gap: 13px;
    justify-content: space-between;
    width: 100%;
  }

  .payment__item {
    max-width: 178px;
    height: 178px;
    padding: 0 26px;
  }

  .content {
    padding: 25px 20px;
  }
  .header__title {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 710px) {
  .services__title {
    font-size: 16px;
    line-height: 19px;
    gap: 5px;
  }

  .services__title img {
    width: 20px;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .info__item {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .home_wrapper {
    padding: 20px 14px;
  }

  .title {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 14px;
  }
  .notice__title img {
    width: 14px;
    height: 14px;
  }
  .notice__title span {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .notice__text {
    margin-top: 7px;
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .notice__card {
    padding: 10px 10px 14px 10px;
  }

  .notice__item {
    gap: 16px;
  }
  .btn {
    width: 132px;
    height: 24px;
    padding: 7px 0px;

    font-size: 8px;
    line-height: 9px;
  }
  .home_items {
    row-gap: 20px;
  }
  .btn_serv {
    width: 94px;
  }

  .btn_serv2 {
    width: 68px;
  }
  .services__sum {
    font-size: 16px;
    line-height: 19px;
  }
  .services__text {
    font-size: 12px;
    line-height: 14px;
  }
  .info__icon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .info__icon svg {
    width: 18px;
    height: 18px;
  }
  .info_count {
    margin-top: 28px;
  }
  .count__number {
    font-size: 24px;
    line-height: 28px;
  }
  .services__btn {
    gap: 6px;
  }
  .count__title {
    max-width: 112px;
  }
}

@media (max-width: 480px) {
  .payment__items {
    gap: 6px;
  }

  .payment__item {
    max-width: 88px;
    height: 88px;
    padding: 0 12px;
  }

  .content {
    padding: 10px 10px;
  }
  .header__title {
    font-size: 10px;
    line-height: 12px;
  }
}
