.desc__wrapper {
  padding: 98px 0px 112px;
  display: grid;
  column-gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px auto;
  grid-template-areas:
    "img title"
    "img text ";
  text-align: right;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  grid-area: title;
  padding-left: 152px;
}

.desc__info {
  grid-area: text;
}

.img {
  transform: scale(-1, 1);
  grid-area: img;
  margin: 0 auto;
}

.text {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 20px;
}

@media (max-width: 980px) {
  .title {
    font-size: 24px;
    line-height: 30px;
    padding-left: 0px;
  }
  .text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 768px) {
  .desc__wrapper {
    padding: 40px 0px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 48px auto;
    grid-template-areas:
      "title img"
      "text img  ";
  }
  .img {
    max-width: 268px;
  }
}

@media (max-width: 480px) {
  .desc__wrapper {
    padding: 20px 0px 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 26px auto;
    grid-template-areas:
      "title"
      " img"
      "text ";
  }
  .img {
    margin-top: 10px;
    max-width: 150px;
    margin-left: 40px;
    margin-bottom: 6px;
  }
  .text {
    margin-bottom: 12px;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 2px;
  }
  .text {
    margin-bottom: 12px;
  }
}
