@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

/* 
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --btn-blue: #008cc9;
  --btn-hover: #005e9b;
  --white: #fff;
  --black: #000;
  --bg-dark-blue: #00354b;
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  padding: 0;
  font: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.inner {
  padding: 0 64px;
}

.section__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
}

@media (max-width: 1240px) {
  body {
    font-size: 14px;
    line-height: 16px;
  }
  .section__title {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 900px) {
  .inner {
    padding: 0 20px;
  }
}

@media (max-width: 640px) {
  .section__title {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 460px) {
  .inner {
    padding: 0 10px;
  }
}

/* tabs FAQ page */

.tab {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
}

.tab .tablinks {
  overflow: hidden;
  border: none;
  padding: 36px;
  width: 576px;
  background-color: #c4d1d6;
  border-radius: 5px;
  color: #888888;
  cursor: pointer;
}

.tab .tablinks:hover,
.tab .tablinks.active {
  background: linear-gradient(
    121.46deg,
    rgba(255, 255, 255, 0.4) 12.82%,
    rgba(255, 255, 255, 0.1) 76.84%
  );
  backdrop-filter: blur(10px);
  color: #fff;
}

.tabcontent {
  padding: 90px 0px;
  max-width: 1480px;
  margin: 0 auto;
}

@media (max-width: 1870px) {
  .tab .tablinks {
    width: 480px;
  }
}

@media (max-width: 1600px) {
  .tab .tablinks {
    width: 400px;
  }
}

@media (max-width: 1360px) {
  .tab .tablinks {
    width: 360px;
  }
}

@media (max-width: 1230px) {
  .tab .tablinks {
    width: 223px;
    padding: 14px;
  }
}

@media (max-width: 734px) {
  .tab .tablinks {
    width: 160px;
  }
}

@media (max-width: 560px) {
  .tab {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
  }

  .tab .tablinks {
    width: 300px;
    margin-bottom: 20px;
  }
}

.faq__head {
  width: 100%;
  background-image: url(./components/faq-accordion/images/accordion.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  cursor: pointer;
}

.faq__head.active {
  width: 100%;
  background-image: url(./components/faq-accordion/images/accordion-close.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  border-bottom: none;
}

.react-datepicker-wrapper {
  width: auto !important ;
}

@media (max-width: 768px) {
  .faq__head {
    background-size: 36px;
  }
  .faq__head.active {
    background-size: 36px;
  }
  .tabcontent {
    padding: 40px 0px;
  }
}

@media (max-width: 560px) {
  .tabcontent {
    padding: 0px 0px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .faq__head {
    background-size: 23px;
  }
  .faq__head.active {
    background-size: 23px;
  }
}
